<div class="page-breadcrumb bg-white">
	<div class="row align-items-center">
		<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			<h4 class="page-title">{{ title }}</h4>
		</div>
		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			<div class="d-md-flex">
				<ol *ngIf="linkUrl && linkText" class="breadcrumb ms-auto">
					<li>
						<a [routerLink]="linkUrl" class="fw-normal">{{ linkText }}</a>
					</li>
				</ol>
				<a
					[routerLink]="buttonUrl"
					*ngIf="buttonUrl && buttonText"
					class="btn btn-danger d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white"
					>{{ buttonText }}</a
				>
			</div>
		</div>
	</div>
</div>
