<div class="card shadow mb-4">
    <div class="card-body">
        <form [formGroup]="movementsForm" (ngSubmit)="submit()" class="needs-validation">

            <!-- Name -->
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                <div *ngIf="submitted && form.name.invalid" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required">Name is required.</div>
                </div>
            </div>

            <!-- Type -->
            <div class="form-group">
                <label>Type</label>
                <!-- <select class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': submitted && form.type.errors }" (change)="onMovementTypeChange($event.target.value)">
                    <option value="expense">Expense</option>
                    <option value="entry">Entry</option>
                </select> -->
                <div *ngIf="submitted && form.type.invalid" class="invalid-feedback">
                    <div *ngIf="form.type.errors.required">Type is required.</div>
                </div>
            </div>

            <!-- Category -->
            <div class="form-group">
                <label>Category</label>
                <!-- <ng-select2 [data]="categories" formControlName="category" [ngClass]="{ 'is-invalid': submitted && form.category.errors }"></ng-select2> -->
                <div *ngIf="submitted && form.category.invalid" class="invalid-feedback">
                    <div *ngIf="form.category.errors.required">Category is required.</div>
                </div>
            </div>

            <!-- Amount -->
            <div class="form-group">
                <label>Amount</label>
                <input type="number" class="form-control" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && form.amount.errors }" />
                <div *ngIf="submitted && form.amount.invalid" class="invalid-feedback">
                    <div *ngIf="form.amount.errors.required">Category is required.</div>
                </div>
            </div>

            <!-- Date -->
            <div class="form-group">
                <label>Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && form.date.errors }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar"></i></button>
                    </div>
                    <div *ngIf="submitted && form.date.invalid" class="invalid-feedback">
                        <div *ngIf="form.date.errors.required">Date is required.</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a (click)="reset()" class="btn btn-secondary m-l-10">Reset</a>

        </form>
    </div>
</div>
