<div class="card bg-dark text-white" style="border-radius: 1rem">
	<div class="card-body p-5 text-center">
		<div class="mb-md-5 mt-md-4 pb-5">
			<h2 class="fw-bold mb-2 text-uppercase text-white">ContApp</h2>
			<p class="text-white-50 mb-5">Please enter your login and password!</p>

			<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
				<div class="form-outline form-white mb-4">
					<input
						type="email"
						formControlName="email"
						class="form-control form-control-lg"
						placeholder="Email"
						[ngClass]="{ 'is-invalid': submitted && form.email.errors }"
					/>
					<label class="form-label" for="typeEmailX">Email</label>
					<div *ngIf="submitted && form.email.errors" class="invalid-feedback">
						<div *ngIf="form.email.errors.required">Email is required</div>
						<div *ngIf="form.email.errors.email">Must be valid email</div>
					</div>
				</div>

				<div class="form-outline form-white mb-4">
					<input
						type="password"
						formControlName="password"
						placeholder="Password"
						[ngClass]="{ 'is-invalid': submitted && form.password.errors }"
						class="form-control form-control-lg"
						autocomplete=""
					/>
					<label class="form-label" for="typePasswordX">Password</label>
					<div *ngIf="submitted && form.password.errors" class="invalid-feedback">
						<div *ngIf="form.password.errors.required">Password is required</div>
					</div>
				</div>

				<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
			</form>
		</div>
	</div>
</div>
