<!-- Content Row -->
<div class="row">

    <!-- List -->
    <div class="col-lg-8">

        <!-- <sections-categories-table (updateCategoryForm)="updateCategoryForm($event)" (updateCategoriesTable)="updateCategoriesTable()" [categories]="categories"></sections-categories-table> -->

    </div>

    <!-- Form -->
    <div class="col-lg-4">

        <!-- <sections-categories-form (updateCategoriesTable)="updateCategoriesTable()" [category]="category"></sections-categories-form> -->

    </div>

</div>
