<!-- Card -->
<div class="card border-left-success shadow h-100 py-2 hoverable" (click)="open(globalPositionModal)">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Global Position</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ globalPosition?.amount }}</div>
            </div>
            <div class="col-auto">
                <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #globalPositionModal let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Global Position</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form [formGroup]="globalPositionForm" (ngSubmit)="submit()" class="needs-validation">

        <div class="modal-body">
            <div class="form-group">
                <label>New amount</label>
                <input ngbAutofocus type="text" class="form-control" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && form.amount.errors }" />
                <div *ngIf="submitted && form.amount.invalid" class="invalid-feedback">
                    <div *ngIf="form.amount.errors.required">Amount is required.</div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-outline-dark">Save</button>
        </div>

    </form>

</ng-template>
