<!-- Content Row -->
<div class="row">

    <!-- List -->
    <div class="col-lg-8">

        <sections-movements-table (updateMovementForm)="updateMovementForm($event)" (updateMovementsTable)="updateMovementsTable($event)" [movements]="movements"></sections-movements-table>

    </div>

    <!-- Form -->
    <div class="col-lg-4">

        <!-- <sections-movements-form (updateMovementsTable)="updateMovementsTable()" [movement]="movement"></sections-movements-form> -->

    </div>

</div>
