<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="table-responsive">
				<table class="table text-nowrap table-striped">
					<thead>
						<tr>
							<th class="border-top-0">#</th>
							<th class="border-top-0">Name</th>
							<th class="border-top-0">Amount</th>
							<th class="border-top-0">Date</th>
							<th class="border-top-0">Category</th>
							<th class="border-top-0">Account</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>dsdsd</td>
							<td>25</td>
							<td>dsds</td>
							<td class="category">
								<i class="fa sdsd"></i>
								sdsd
							</td>
							<td>dsdsd</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
