<div class="row">
	<div class="col-sm-12">
		<div class="white-box">
			<div class="table-responsive">
				<table class="table text-nowrap table-striped">
					<thead>
						<tr>
							<th class="border-top-0">#</th>
							<th class="border-top-0">Name</th>
							<th class="border-top-0">Amount</th>
							<th class="border-top-0">Date</th>
							<th class="border-top-0">Category</th>
							<th class="border-top-0">Account</th>
						</tr>
					</thead>
					<tbody>
						<tr
							*ngFor="let movement of monthyMovements$ | async"
							[ngClass]="{ expense: movement.type === 'expense', income: movement.type === 'income' }"
						>
							<td>{{ movement.id }}</td>
							<td>{{ movement.name }}</td>
							<td>{{ movement.amount | currency }}</td>
							<td>{{ movement.date }}</td>
							<td class="category">
								<i class="fa {{ movement.category?.icon }}"></i>
								{{ movement.category?.name }}
							</td>
							<td>{{ movement.account?.name }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
