<div class="row">
	<div class="col-lg-3">
		<div class="white-box analytics-info">
			<h3 class="box-title">Gastos del mes</h3>
			<ul class="list-inline two-part d-flex align-items-center mb-0">
				<li>
					<span class="counter text-danger">650€</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="white-box analytics-info">
			<h3 class="box-title">Porcentaje de gastos</h3>
			<ul class="list-inline two-part d-flex align-items-center mb-0">
				<li>
					<span class="counter text-danger">25%</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="white-box analytics-info">
			<h3 class="box-title">Balance restante</h3>
			<ul class="list-inline two-part d-flex align-items-center mb-0">
				<li>
					<span class="counter text-success">650€</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="white-box analytics-info">
			<h3 class="box-title">Total en cuenta</h3>
			<ul class="list-inline two-part d-flex align-items-center mb-0">
				<li>
					<span class="counter text-success">650€</span>
				</li>
			</ul>
		</div>
	</div>
</div>
