<aside class="left-sidebar" data-sidebarbg="skin6">
	<div class="scroll-sidebar">
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<!-- Dashboard -->
				<li class="sidebar-item pt-2" routerLinkActive="active">
					<a
						class="sidebar-link waves-effect waves-dark sidebar-link"
						href="dashboard.html"
						aria-expanded="false"
						routerLinkActive="active"
						routerLink="/"
					>
						<i class="far fa-clock" aria-hidden="true"></i>
						<span class="hide-menu">Dashboard</span>
					</a>
				</li>

				<!-- Movements -->
				<li class="sidebar-item">
					<a
						class="sidebar-link waves-effect waves-dark sidebar-link"
						href="profile.html"
						aria-expanded="false"
						routerLinkActive="active"
						routerLink="/movements"
					>
						<i class="fa fa-user" aria-hidden="true"></i>
						<span class="hide-menu">Movements</span>
					</a>
				</li>

				<!-- Categories -->
				<li class="sidebar-item">
					<a
						class="sidebar-link waves-effect waves-dark sidebar-link"
						href="basic-table.html"
						aria-expanded="false"
						routerLinkActive="active"
						routerLink="/categories"
					>
						<i class="fa fa-table" aria-hidden="true"></i>
						<span class="hide-menu">Categories</span>
					</a>
				</li>

				<!-- Accounts -->
				<li class="sidebar-item">
					<a
						class="sidebar-link waves-effect waves-dark sidebar-link"
						href="fontawesome.html"
						aria-expanded="false"
						routerLinkActive="active"
						routerLink="/accounts"
					>
						<i class="fa fa-font" aria-hidden="true"></i>
						<span class="hide-menu">Accounts</span>
					</a>
				</li>

				<!-- Analysis -->
				<li class="sidebar-item has-arrow">
					<a
						class="sidebar-link waves-effect waves-dark sidebar-link"
						href="fontawesome.html"
						aria-expanded="false"
						routerLinkActive="active"
						routerLink="/analysis"
					>
						<i class="fa fa-chart-bar" aria-hidden="true"></i>
						<span class="hide-menu">Analysis</span>
					</a>
					<ul class="sidebarnav-subnav">
						<li>
							<a
								class="sidebar-link waves-effect waves-dark sidebar-link"
								href="fontawesome.html"
								aria-expanded="false"
								routerLinkActive="active"
								routerLink="/analysis/monthly"
							>
								<span class="hide-menu">Monthly</span>
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</aside>
