<div class="card shadow mb-4">
    <div class="card-body">
        <!-- Filters -->
        <sections-movements-filters (updateMovementsTable)="updateMovementsTableFromFilters($event)"> </sections-movements-filters>

        <!-- Table -->
        <table class="table m-t-30">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Category</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movement of movements">
                    <td>{{ movement.date }}</td>
                    <td>{{ movement.name }}</td>
                    <td><core-badge-type type="{{ movement.type }}"></core-badge-type></td>
                    <td>
                        <span class="badge badge-primary">{{ movement.category.name }}</span>
                    </td>
                    <td>{{ movement.amount }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-light" (click)="delete(movement.id)"><i class="fas fa-trash"></i></button>
                            <button type="button" class="btn btn-light" (click)="edit(movement.id)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
