<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title" *ngIf="(isEditing$ | async) === false">Add movement</h4>
					<h4 class="card-title" *ngIf="(isEditing$ | async) === true && editingMovement$ | async">Edit movement</h4>

					<form class="form-horizontal form-material" [formGroup]="movementForm" (ngSubmit)="onSubmit()">
						<div class="row">
							<!-- Name -->
							<div class="col-md-4">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Name</label>
									<div class="col-md-12 border-bottom p-0">
										<input
											type="text"
											placeholder="Movement name"
											class="form-control p-0 border-0"
											formControlName="name"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.name.errors }"
										/>
									</div>
									<div *ngIf="(submitted$ | async) && form.name.errors" class="invalid-feedback">
										<div *ngIf="form.name.errors.required">Name is required</div>
									</div>
								</div>
							</div>

							<!-- Date -->
							<div class="col-md-4">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Date</label>
									<div class="col-md-12 border-bottom p-0">
										<dp-date-picker
											[config]="conf"
											mode="day"
											formControlName="date"
											placeholder="Movement date"
											theme="contapp-date"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.date.errors }"
										></dp-date-picker>
									</div>
									<div *ngIf="(submitted$ | async) && form.date.errors" class="invalid-feedback">
										<div *ngIf="form.date.errors.required">Date is required</div>
									</div>
								</div>
							</div>

							<!-- Type -->
							<div class="col-md-4">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Type</label>
									<div class="col-md-12 border-bottom p-0">
										<select
											name="type"
											formControlName="type"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.type.errors }"
											placeholder="Movement type"
											class="form-control p-0 border-0"
										>
											<option value="expense">Expense</option>
											<option value="income">Income</option>
										</select>
									</div>
									<div *ngIf="(submitted$ | async) && form.type.errors" class="invalid-feedback">
										<div *ngIf="form.type.errors.required">Type is required</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<!-- Amount -->
							<div class="col-md-4">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Amount</label>
									<div class="col-md-12 border-bottom p-0">
										<input
											type="number"
											placeholder="Movement quantity"
											class="form-control p-0 border-0"
											formControlName="amount"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.amount.errors }"
										/>
									</div>
									<div *ngIf="(submitted$ | async) && form.amount.errors" class="invalid-feedback">
										<div *ngIf="form.amount.errors.required">Amount is required</div>
									</div>
								</div>
							</div>

							<!-- Category -->
							<div class="col-md-4" *ngIf="categories$ | async as categories">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Category</label>
									<div class="col-md-12 border-bottom p-0">
										<select2
											formControlName="category"
											class="form-control p-0 border-0"
											[data]="categories"
											[multiple]="false"
											[value]="form.category.value"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.category.errors }"
										>
										</select2>
									</div>
									<div *ngIf="(submitted$ | async) && form.category.errors" class="invalid-feedback">
										<div *ngIf="form.category.errors.required">Category is required</div>
									</div>
								</div>
							</div>

							<!-- Account -->
							<div class="col-md-4" *ngIf="accounts$ | async as accounts">
								<div class="form-group mb-4">
									<label class="col-md-12 p-0">Account</label>
									<div class="col-md-12 border-bottom p-0">
										<select2
											formControlName="account"
											class="form-control p-0 border-0"
											[data]="accounts"
											[multiple]="false"
											[value]="form.account.value"
											[ngClass]="{ 'is-invalid': (submitted$ | async) && form.account.errors }"
										>
										</select2>
									</div>
									<div *ngIf="(submitted$ | async) && form.account.errors" class="invalid-feedback">
										<div *ngIf="form.account.errors.required">Account is required</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group mb-4">
									<button type="submit" class="btn btn-success">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
