<div class="card shadow mb-4">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories">
                    <th scope="row">{{ category.id }}</th>
                    <td>{{ category.name }}</td>
                    <td><core-badge-type type="{{ category.type }}"></core-badge-type></td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-light" (click)="delete(category.id)"><i class="fas fa-trash"></i></button>
                            <button type="button" class="btn btn-light" (click)="edit(category.id)"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
