<!-- Content Row -->
<div class="row">
    <!-- Entries and expenses for current month -->
    <div class="col-lg-4">
        <sections-statistics-entries-expenses-current-month></sections-statistics-entries-expenses-current-month>
    </div>

    <!-- Entries and expenses for past month -->
    <div class="col-lg-8">
        <sections-statistics-entries-expenses-past-month></sections-statistics-entries-expenses-past-month>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Entries and expenses per month -->
    <div class="col-lg-6">
        <sections-statistics-entries-expenses-month></sections-statistics-entries-expenses-month>
    </div>
</div>
